<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <input [(ngModel)]="nameCard" [ngModelOptions]="{standalone: true}" id="Name" placeholder="Название картинки">
        </div><br>
        <div class="form-group">
            <input type="file" id="input-loading" (change)="file()"><br>
            <img [src]="this.urlData" height="200" alt="">
        </div><br>
        <div class="form-group">
            <button (click)="handler()" id="btnAdd">Добавить картинку</button>
        </div>
    </div>
</div>