.input-field {
    display: block;
    color: #575656;
}

form {
    margin-left: 0;
}

#Name {
    width: 230px;
    text-align: center;
    border-color: #969494;

    &:active {
        border-color: #111111;
        color: #111111;
    }
}

.loading-container {
    display: inline-block;
}

button {
    background-color: grey;
    border-radius: 8px;

    &:hover {
        background-color: #424141
    }
}