.inputImgUrl {
    text-align: center;
}

.selected {
    margin: 0 auto;
    width: 500px;
    border-bottom: 1px solid black
}

.pictureList {
    padding: 0;
    width: 1200px;
    margin: 0 auto;
}

.pictureList img {
    width: 150px;
    height: 100px;
    margin: 20px
}