nav {
    background-color: transparent;
}

.header_title {
    font-family: 'Livvic', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 50px;
    line-height: 1.2;
    align-items: center;
    margin: 20px;
    color: grey;
}